<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
					</li>
					{% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
					{% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-1">
        <ul class="social-media-list">
          <li>
						<a href='https://github.com/Mehonoshin' target="_blank"><img src='/assets/github.png' width="40px"></a>
						<a href='https://www.scrumalliance.org/community/profile/smekhonosh' target="_blank"><img src='/assets/csm.png' width="40px"></a>
						<a href='https://www.facebook.com/stanislav.mekhonoshin' target="_blank"><img src='/assets/facebook.png' width="40px"></a>
						<a href='https://stackoverflow.com/users/613256/stanislav-mekhonoshin' target="_blank"><img src='/assets/stackoverflow.png' width="40px"></a>
						<a href='https://www.goodreads.com/user/show/70618260-stanislav-mekhonoshin' target="_blank"><img src='/assets/goodreads.png' width="40px"></a>
						<a href='https://www.linkedin.com/in/stanislav-mekhonoshin-b3088953/' target="_blank"><img src='/assets/linkedin.png' width="40px"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
